.book-create-container {
    width: 17%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.book-create-container form {
    background-color: #727af2;
    padding: 30px;
}

.book-create-container h3 {
    text-align: center;
    font-size: 25px;
}

.book-create-container label {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.title {
    padding: 10px;
    margin: 6px 0;
    border: 2px solid #727af2;
    border-radius: 8px;
    width: 90%;
}

.file {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    background-color: white;
    margin: 0 0 18px 0;
    border-radius: 8px;
    padding: 10px;
    width: 90%;
}

.two-buttons {
    display: flex;
    gap: 20%;
}

.book-create-container button {
    background-color: #efefef;
    color: black;
    font-size: 19px;
    font-weight: 600;
    padding: 8px 10px;
    border: 2px solid #727af2;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.add-button-top {
    margin: 30px;
}

.book-create-container button:hover {
    background-color: black;
    color: white;
}