.book-edit input {
    margin: 2px;
    border: 1px solid #727af2;
    border-radius: 8px;
    padding: 2px;
}

.book-edit label {
    font-size: 15px;
    font-weight: 600;
    padding: 2px;
}

.book-edit button {
   display: block;
   margin: 2px;
   font-size: 15px;
   background-color: #efefef;
   font-weight: 600;
   border: 1px solid #727af2;
   border-radius: 8px;
   cursor: pointer;
   text-align: center;
}