.App-header {
    position: relative;
    z-index: 3
}

.App-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.App-header ul li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 30px;
}

.App-header a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
}

.App-header li a:hover {
    color: #abbacc;
    text-decoration: underline;
}

.logo-image img {
    width: 90px;
    float: left;
    cursor: pointer;
    margin: 30px;
}

a.active {
    color: #939aff;
}