.post-form-container {
    background-color: #939aff;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    position: relative;
    margin: 0 auto;
    color: black;
    box-shadow: 0px 0px 20px #abbacc;
}

.post-form-container p {
    color: black;
}

.post-form-container button {
    background-color: #efefef;
    color: black;
    font-size: 19px;
    font-weight: 600;
    padding: 8px 10px;
    border: 2px solid #727af2;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.post-form-container input{
    padding: 10px;
    margin: 6px 0;
    border: 2px solid #727af2;
    border-radius: 8px;
    width: 97.5%;
}