.post-form-container {
    background-color: #939aff;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    position: relative;
    margin: 0 auto;
    color: black;
    box-shadow: 0px 0px 20px #abbacc;
}