h1 {
  font-size: calc(22px + 1vmin);
}

h2 {
  font-size: calc(20px + 1vmin);
}

h3 {
  font-size: calc(18px + 1vmin);
}

p {
  font-size: calc(16px + 1vmin);
  padding: 3px
}

article ul {
  margin: 0;
  padding: 0;
  list-style: none;
}