.post-container {
   background-color: #939aff;
   padding: 20px;
   border-radius: 8px;
   width: 70%;
   position: relative;
   margin: 0 auto;
   color: black;
   min-height: 400px;
   box-shadow: 0px 0px 20px #727af2;
}

.post-container p {
   color: black;
}

.post-container h2 {
   text-align: center;
}